*{

    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
 h6{
    height: auto;
    width: auto;
    color: gray;
    text-shadow: 0px 3px 15px rgb(231, 225, 225)
}

body{
    width: 100%;
    height: 100vh;
    border-width: 2px;
    border-color: #355596;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
}

.Calculater{
    border: 4px solid #3a4452;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgb(243, 243, 240);
}

input{
    width: 320px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 24px;
    margin: 10px;
    background: #355596;
    box-shadow: opx 3px 15px rgb(84, 84, 84,0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #ffffff;
}

input::placeholder{
    color: #ffffff;
}
 button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgb(255, 255, 255,0.5);
    cursor: pointer;
 }

 .equa18tn{
color: dimgray;
 }

 .op{
    color: rgba(16, 235, 235, 0.445);
 }

 .owner{
    color: rgb(231, 225, 225);
    font-size: 10px;
 }
